@model sistemadepedidos.Models.pedidos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 style="text-align: center;" >Editar Pedido</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        

        <div class="form-group">
            @Html.Label("id_produto", "Nome do Produto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Action("ListaProducto", "Pedido")
                @Html.ValidationMessageFor(model => model.id_produto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("quantidade", "Quantidade", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantidade, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return justNumbers(event);" } })
                @Html.ValidationMessageFor(model => model.quantidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("id_fornecedor", "Nome do Fornecedor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Action("ListaFornecedor", "Pedido")
                @Html.ValidationMessageFor(model => model.id_fornecedor, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
